.App {
  align-items: center;
  background-color: lightgrey;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.chat-box {
  height: 80vh;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 45%;
  padding: 50px;
}
